{% extends "base.html.twig" %}

{# Permet d'override le title du fichier base.html.twig #}
{% block title %} SymfonyProject - Home {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Symfony Project</h1>
            <p class="lead">This is a small project to learn Symfony 6</p>
            <hr class="my-4">
            <p>To start, please go to the signin page and use the application.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign In</a>
        </div>
    </div>   
{% endblock %}